@media only screen and (max-width:413px) {

    nav,
    header,
    main {
        font-size: 60%;
    }

    .VT-img-container img {
        width: 40%;
    }

    .nav-unofficial-port {
        visibility: collapse;
    }

    .footer-logos {
        font-size: 60%;
    }

    .footer-lightbox {
        font-size: 90%;
    }
}

@media only screen and (min-width:413px) {

    nav,
    header,
    main {
        font-size: 60%;
    }

    .VT-img-container img {
        width: 40%;
    }
}

@media only screen and (min-width: 550px) {

    nav,
    header,
    main {
        font-size: 80%;
    }

    .VT-img-container img {
        width: 10em;
    }
}

@media only screen and (min-width: 900px) {

    nav,
    header,
    main {
        font-size: 100%;
    }

    .VT-img-container img {
        width: 10em;
    }
}

@media only screen and (min-width: 2000px) {

    nav,
    header,
    main {
        font-size: 200%;
    }
}

@media only screen and (min-width: 3000px) {

    nav,
    header,
    main {
        font-size: 300%;
    }
}

@media only screen and (min-width: 4000px) {

    nav,
    header,
    main {
        font-size: 400%;
    }
}