.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 15vh;
    width: 100%;
    background-image: url("https://legumba0plays.github.io/vanilla_tweaks_BE/images/front_page/grasstop_high.png");
}

#tree {
    position: fixed;
    left: 50%;
    bottom: 15vh;
    height: 50%;
}

#sun_container {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: -5vh;
    z-index: -20;
}

#sun {
    display: block;
    margin: 0 auto;
    position: relative;
    height: 50vh;
    width: auto;
}