@media only screen and (max-width: 768px) {
    #cloud_1 {
        width: 200vw;
        height: auto;
    }

    #cloud_2 {
        width: 200vw;
        height: auto;
    }

    #cloud_3 {
        width: 200vw;
        height: auto;
    }

    #cloud_4 {
        width: 200vw;
        height: auto;
    }

    #cloud_5 {
        width: 200vw;
        height: auto;
    }

    #cloud_6 {
        width: 200vw;
        height: auto;
    }

    #cloud_7 {
        width: 200vw;
        height: auto;
    }

    #cloud_8 {
        width: 200vw;
        height: auto;
    }
}

@media only screen and (min-width: 768px) {
    #cloud_1 {
        width: 150vw;
        height: auto;
    }

    #cloud_2 {
        width: 150vw;
        height: auto;
    }

    #cloud_3 {
        width: 150vw;
        height: auto;
    }

    #cloud_4 {
        width: 150vw;
        height: auto;
    }

    #cloud_5 {
        width: 150vw;
        height: auto;
    }

    #cloud_6 {
        width: 150vw;
        height: auto;
    }

    #cloud_7 {
        width: 150vw;
        height: auto;
    }

    #cloud_8 {
        width: 150vw;
        height: auto;
    }
}

@media only screen and (min-width: 1000px) {
    #cloud_1 {
        width: 100vw;
        height: auto;
    }

    #cloud_2 {
        width: 100vw;
        height: auto;
    }

    #cloud_3 {
        width: 100vw;
        height: auto;
    }

    #cloud_4 {
        width: 100vw;
        height: auto;
    }

    #cloud_5 {
        width: 100vw;
        height: auto;
    }

    #cloud_6 {
        width: 100vw;
        height: auto;
    }

    #cloud_7 {
        width: 100vw;
        height: auto;
    }

    #cloud_8 {
        width: 100vw;
        height: auto;
    }
}